<launch>
    <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(find simulator_prototype)/config/rviz/odin.rviz" />
        
    <param name="path_name" value="$(find txt_to_actuator_info)/Output.txt" />
    <rosparam command="load" file="$(find simulator_prototype)/config/models/Odin.yaml" />
    <rosparam command="load" file="$(find simulator_prototype)/config/SimulationParameters.yaml" />

    <param name="hil/robot_description" textfile="$(find simulator_prototype)/config/models/Odin.urdf" />
    <param name="hil/obstacle_description3" textfile="$(find simulator_prototype)/config/models/Obstacle3.urdf" />
    <param name="hil/class_A_ship_description" textfile="$(find simulator_prototype)/config/models/class_A_ship.urdf" />

    <node pkg="txt_to_actuator_info" name="actuator_node" type="txt_to_actuator_info" respawn="false" output="screen">
    </node>
    
    <node pkg="simulator_prototype" type="hil_simulator_node" name="simulated_vessel" output="screen"/>

    <node pkg="environment" type="environment" name="environment_node" output="screen"/>
    <node pkg="gui" type="gui" name="gui_node" output="screen"/>
	
     
</launch>
