<?xml version="1.0"?>
<robot name="obstacle_1">
  <link name="obstacle_1">
    <visual>
      <origin rpy="0 -1.570796326 -1.570796326" xyz="-5.5 -1.75 -0.2"/>
      <geometry>
        <mesh filename="file:///home/OdinDecimated.stl" scale="0.0015 0.0015 0.0015"/>
      </geometry>
      <material name="white">
        <color rgba="0.05 0.6 0.6 1"/>
      </material>
    </visual>
  </link>
</robot>
