<?xml version="1.0"?>
<robot name="hil_sim">
  <link name="hil_sim">
    <visual>
      <origin rpy="0 -1.570796326 -1.570796326" xyz="-5.5 -1.75 -0.7"/>
      <geometry>
        <mesh filename="file:///home/OdinDecimated.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white">
        <color rgba="0.25 0.25 0.25 1"/>
      </material>
    </visual>
  </link>
</robot>