<launch>
    <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(find simulator_prototype)/config/rviz/odin.rviz" />
        
    <rosparam command="load" file="$(find simulator_prototype)/config/models/Odin.yaml" />
    <rosparam command="load" file="$(find simulator_prototype)/config/SimulationParameters.yaml" />

    <param name="hil/robot_description" textfile="$(find simulator_prototype)/config/models/Odin.urdf" />

    <node pkg="joy" name="joy_node" type="joy_node" respawn="false" output="screen">
    </node>

    <node pkg="ps3_thrust_input" name="Ps3Node" type="ps3_thrust_input" respawn="false" output="screen">
    </node>
    
    <node pkg="simulator_prototype" type="hil_simulator_node" name="simulated_vessel" output="screen"/>

    <node pkg="rosbag" type="record" name="rosbag_record_run"
       args="record -o $(find simulator_prototype)/logs/run.bag /log/wind" />
	
     
</launch>
